.list-menu {
    width: 100%;
    text-align: center;
    margin-top: 30%;
}

.media-menu {
    display: inline-block;
    margin: 5%;
    text-align: center;
    width: 33%;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    color: #666666;
    }
    .media-menu p {
        border-radius: 5px;
        box-shadow: 0 8px 15px 0 #2f2f2f;
    }

.media-menu:active {
    transform: scale(1.025);
}
